body {
    background-image: url(/img/ef.bingo.jpg) ;
    background-repeat: no-repeat;  
    background-position: center center;
    background-attachment: fixed;
    background-size: 1390px 700px;
  }

body {
    color:rgb(255, 255, 255);
}
/* fuente del texto */
body {
    font-family: "Lucida Console", "Courier New", monospace;
  }
/* tamaño del texto*/
body {
    font-size: 25px;
  }

  body{
    font-weight:130
  }

ol {
    color: black;
}

div {
  text-align: center;
}